NodeRedCansat_Interface.json
[
    {
        "id": "89c5dcb23edc6afe",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b2ddbfb73b3a9f3b",
        "type": "serial in",
        "z": "89c5dcb23edc6afe",
        "name": "Data_Sensors",
        "serial": "a2764decbb6c747f",
        "x": 150,
        "y": 200,
        "wires": [
            [
                "28490caa12670332",
                "0329661f8698864f",
                "8843f2a5c6138242",
                "af7fa026945596ce",
                "497c5ddef98f58ed",
                "02016d87e7678846",
                "a5a448284d5563bb",
                "37cca5df99e22cf3",
                "0344c13bd7d9e257",
                "f33ac9c055c1a624",
                "f4daa8d8390fec4c",
                "f254d77a76cab223",
                "8b0e7f95babfa99d",
                "7f856b46627884ec"
            ]
        ]
    },
    {
        "id": "28490caa12670332",
        "type": "debug",
        "z": "89c5dcb23edc6afe",
        "name": "Data_String_Json",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 120,
        "wires": []
    },
    {
        "id": "0329661f8698864f",
        "type": "json",
        "z": "89c5dcb23edc6afe",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 330,
        "y": 280,
        "wires": [
            [
                "dd5ef172c02d5fb4"
            ]
        ]
    },
    {
        "id": "dd5ef172c02d5fb4",
        "type": "debug",
        "z": "89c5dcb23edc6afe",
        "name": "JS_Objet",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 280,
        "wires": []
    },
    {
        "id": "ec21d5a94cebdb68",
        "type": "change",
        "z": "89c5dcb23edc6afe",
        "name": "Temperature",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Temperature",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 340,
        "wires": [
            [
                "7f321a2f4b33ed3a",
                "812b7054113f3661",
                "1b20cfb45f91b92b",
                "50ab6355e4eaaad4"
            ]
        ]
    },
    {
        "id": "8843f2a5c6138242",
        "type": "json",
        "z": "89c5dcb23edc6afe",
        "name": "Temperature",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 350,
        "y": 340,
        "wires": [
            [
                "ec21d5a94cebdb68"
            ]
        ]
    },
    {
        "id": "7f321a2f4b33ed3a",
        "type": "debug",
        "z": "89c5dcb23edc6afe",
        "name": "Temperature",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 340,
        "wires": []
    },
    {
        "id": "2fa0e7025bba47b5",
        "type": "debug",
        "z": "89c5dcb23edc6afe",
        "name": "Humidity",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 440,
        "wires": []
    },
    {
        "id": "b1d4b7867835331f",
        "type": "change",
        "z": "89c5dcb23edc6afe",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 440,
        "wires": [
            [
                "2fa0e7025bba47b5",
                "c97cef44214ef9f2",
                "c78326c2c5d16626",
                "b0a817bb20fd0341"
            ]
        ]
    },
    {
        "id": "af7fa026945596ce",
        "type": "json",
        "z": "89c5dcb23edc6afe",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 330,
        "y": 440,
        "wires": [
            [
                "b1d4b7867835331f"
            ]
        ]
    },
    {
        "id": "eda2319db23d1b48",
        "type": "debug",
        "z": "89c5dcb23edc6afe",
        "name": "Pressure",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 540,
        "wires": []
    },
    {
        "id": "a56af1dd64573b88",
        "type": "change",
        "z": "89c5dcb23edc6afe",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Pressure",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 540,
        "wires": [
            [
                "eda2319db23d1b48",
                "ba2a9b8fd71911a7",
                "35fbb987fb7ab85c",
                "a9b47f29aa33a086"
            ]
        ]
    },
    {
        "id": "497c5ddef98f58ed",
        "type": "json",
        "z": "89c5dcb23edc6afe",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 330,
        "y": 540,
        "wires": [
            [
                "a56af1dd64573b88"
            ]
        ]
    },
    {
        "id": "2a6c4f43334576e2",
        "type": "debug",
        "z": "89c5dcb23edc6afe",
        "name": "DustDensity",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 640,
        "wires": []
    },
    {
        "id": "ca056892e9a74eb1",
        "type": "change",
        "z": "89c5dcb23edc6afe",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DustDensity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 640,
        "wires": [
            [
                "2a6c4f43334576e2",
                "5e63b03d0ab4eeda",
                "f93c96a9d44980bb",
                "5f0631ef3d6199ac"
            ]
        ]
    },
    {
        "id": "02016d87e7678846",
        "type": "json",
        "z": "89c5dcb23edc6afe",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 330,
        "y": 640,
        "wires": [
            [
                "ca056892e9a74eb1"
            ]
        ]
    },
    {
        "id": "ac804b30362282fe",
        "type": "debug",
        "z": "89c5dcb23edc6afe",
        "d": true,
        "name": "AcelerationX",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 1360,
        "wires": []
    },
    {
        "id": "f2023bcd8350468d",
        "type": "change",
        "z": "89c5dcb23edc6afe",
        "d": true,
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1360,
        "wires": [
            [
                "ac804b30362282fe"
            ]
        ]
    },
    {
        "id": "ed92e481babbbda3",
        "type": "json",
        "z": "89c5dcb23edc6afe",
        "d": true,
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 330,
        "y": 1360,
        "wires": [
            [
                "f2023bcd8350468d"
            ]
        ]
    },
    {
        "id": "9862553b1d5383f5",
        "type": "debug",
        "z": "89c5dcb23edc6afe",
        "d": true,
        "name": "AcelerationY",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 1400,
        "wires": []
    },
    {
        "id": "dffc296279d9106f",
        "type": "change",
        "z": "89c5dcb23edc6afe",
        "d": true,
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1400,
        "wires": [
            [
                "9862553b1d5383f5"
            ]
        ]
    },
    {
        "id": "0d279eb16b0aa99d",
        "type": "json",
        "z": "89c5dcb23edc6afe",
        "d": true,
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 330,
        "y": 1400,
        "wires": [
            [
                "dffc296279d9106f"
            ]
        ]
    },
    {
        "id": "dc3178e704a1a527",
        "type": "debug",
        "z": "89c5dcb23edc6afe",
        "d": true,
        "name": "AcelerationZ",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 1440,
        "wires": []
    },
    {
        "id": "bb55742761edb531",
        "type": "change",
        "z": "89c5dcb23edc6afe",
        "d": true,
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1440,
        "wires": [
            [
                "dc3178e704a1a527"
            ]
        ]
    },
    {
        "id": "1937ab0aedf13c13",
        "type": "json",
        "z": "89c5dcb23edc6afe",
        "d": true,
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 330,
        "y": 1440,
        "wires": [
            [
                "bb55742761edb531"
            ]
        ]
    },
    {
        "id": "89443ce747ae2c56",
        "type": "debug",
        "z": "89c5dcb23edc6afe",
        "d": true,
        "name": "GyroX",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 1480,
        "wires": []
    },
    {
        "id": "3c993acae5f6e0a3",
        "type": "change",
        "z": "89c5dcb23edc6afe",
        "d": true,
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1480,
        "wires": [
            [
                "89443ce747ae2c56"
            ]
        ]
    },
    {
        "id": "ad6f2f3eadc5eeef",
        "type": "json",
        "z": "89c5dcb23edc6afe",
        "d": true,
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 330,
        "y": 1480,
        "wires": [
            [
                "3c993acae5f6e0a3"
            ]
        ]
    },
    {
        "id": "507201c703f3b7b5",
        "type": "debug",
        "z": "89c5dcb23edc6afe",
        "d": true,
        "name": "GyroY",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 1520,
        "wires": []
    },
    {
        "id": "0770c01c50b650a7",
        "type": "change",
        "z": "89c5dcb23edc6afe",
        "d": true,
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1520,
        "wires": [
            [
                "507201c703f3b7b5"
            ]
        ]
    },
    {
        "id": "2d3b149d815471a1",
        "type": "json",
        "z": "89c5dcb23edc6afe",
        "d": true,
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 330,
        "y": 1520,
        "wires": [
            [
                "0770c01c50b650a7"
            ]
        ]
    },
    {
        "id": "99232924543a3ebc",
        "type": "debug",
        "z": "89c5dcb23edc6afe",
        "d": true,
        "name": "GyroZ",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 1560,
        "wires": []
    },
    {
        "id": "90ec7f9efb68dffb",
        "type": "change",
        "z": "89c5dcb23edc6afe",
        "d": true,
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1560,
        "wires": [
            [
                "99232924543a3ebc"
            ]
        ]
    },
    {
        "id": "759a43d412b78a20",
        "type": "json",
        "z": "89c5dcb23edc6afe",
        "d": true,
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 330,
        "y": 1560,
        "wires": [
            [
                "90ec7f9efb68dffb"
            ]
        ]
    },
    {
        "id": "5a39891d529fe283",
        "type": "http request",
        "z": "89c5dcb23edc6afe",
        "d": true,
        "name": "Data",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://cansat-biomech-default-rtdb.firebaseio.com/AQ.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 690,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "7e4dcdfe2d676944",
        "type": "ui_text",
        "z": "89c5dcb23edc6afe",
        "group": "abefd3ee9f81cf2d",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Dust Density",
        "label": "",
        "format": "Dust Density",
        "layout": "row-center",
        "className": "",
        "x": 1270,
        "y": 100,
        "wires": []
    },
    {
        "id": "4bd7891e646d30ca",
        "type": "ui_text",
        "z": "89c5dcb23edc6afe",
        "group": "91405a5123c0370c",
        "order": 5,
        "width": 7,
        "height": 1,
        "name": "Results",
        "label": "",
        "format": "Results",
        "layout": "row-center",
        "className": "",
        "x": 1580,
        "y": 140,
        "wires": []
    },
    {
        "id": "812b7054113f3661",
        "type": "ui_chart",
        "z": "89c5dcb23edc6afe",
        "name": "Temperature",
        "group": "4148d1df3861a6e1",
        "order": 1,
        "width": 7,
        "height": 5,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff3300",
            "#b12020",
            "#e77613",
            "#791616",
            "#df8b8b",
            "#e51f1f",
            "#ff9494",
            "#bc6767",
            "#d7b2b2"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 770,
        "y": 320,
        "wires": [
            [
                "7792ec2d1b702ff8"
            ]
        ]
    },
    {
        "id": "1b20cfb45f91b92b",
        "type": "ui_gauge",
        "z": "89c5dcb23edc6afe",
        "name": "Temperature",
        "group": "abefd3ee9f81cf2d",
        "order": 1,
        "width": 7,
        "height": 5,
        "gtype": "gage",
        "title": "Temperature",
        "label": "C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#b30000",
            "#e60000",
            "#c85656"
        ],
        "seg1": "20",
        "seg2": "40",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 360,
        "wires": []
    },
    {
        "id": "ba2a9b8fd71911a7",
        "type": "ui_gauge",
        "z": "89c5dcb23edc6afe",
        "name": "Pressure",
        "group": "abefd3ee9f81cf2d",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Pressure",
        "label": "hPa",
        "format": "{{value}}",
        "min": 0,
        "max": "1200",
        "colors": [
            "#336ee6",
            "#1234ba",
            "#120099"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 760,
        "y": 560,
        "wires": []
    },
    {
        "id": "35fbb987fb7ab85c",
        "type": "ui_chart",
        "z": "89c5dcb23edc6afe",
        "name": "Pressure",
        "group": "4148d1df3861a6e1",
        "order": 2,
        "width": 7,
        "height": 5,
        "label": "Pressure",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1200",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#6da5ee",
            "#430fff",
            "#2c3fa0",
            "#8b95df",
            "#5628d7",
            "#94a6ff",
            "#676cbc",
            "#b2b5d7"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 760,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "c97cef44214ef9f2",
        "type": "ui_gauge",
        "z": "89c5dcb23edc6afe",
        "name": "Humidity",
        "group": "91405a5123c0370c",
        "order": 1,
        "width": 7,
        "height": 5,
        "gtype": "donut",
        "title": "Humidity",
        "label": "RH%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b5b8",
            "#00d1c3",
            "#00fbff"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 760,
        "y": 460,
        "wires": []
    },
    {
        "id": "c78326c2c5d16626",
        "type": "ui_chart",
        "z": "89c5dcb23edc6afe",
        "name": "",
        "group": "67e4db159a437597",
        "order": 1,
        "width": 7,
        "height": 5,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1ea1b3",
            "#b3e9ea",
            "#0fefff",
            "#2c9ea0",
            "#8bdfde",
            "#28d7c3",
            "#94fdff",
            "#67bcb6",
            "#b2d7d4"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 760,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "f93c96a9d44980bb",
        "type": "ui_gauge",
        "z": "89c5dcb23edc6afe",
        "name": "PM 2.5",
        "group": "abefd3ee9f81cf2d",
        "order": 3,
        "width": 7,
        "height": 5,
        "gtype": "donut",
        "title": "PM 2.5",
        "label": "μg/m3",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#ffc800",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 760,
        "y": 660,
        "wires": []
    },
    {
        "id": "5e63b03d0ab4eeda",
        "type": "ui_chart",
        "z": "89c5dcb23edc6afe",
        "name": "PM2.5",
        "group": "4148d1df3861a6e1",
        "order": 3,
        "width": 7,
        "height": 5,
        "label": "Dust Density",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "500",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#b3a61e",
            "#eae8b3",
            "#fff70f",
            "#a0962c",
            "#dfdc8b",
            "#d7c028",
            "#fdff94",
            "#bcb167",
            "#d7d5b2"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "a5b2a140ed9bafb9",
        "type": "change",
        "z": "89c5dcb23edc6afe",
        "d": true,
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.CH4",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 740,
        "wires": [
            [
                "4617cedb3731492e",
                "9c14f3b8dab653c2",
                "7b11f7e3e6bbad1a"
            ]
        ]
    },
    {
        "id": "a5a448284d5563bb",
        "type": "json",
        "z": "89c5dcb23edc6afe",
        "d": true,
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 330,
        "y": 740,
        "wires": [
            [
                "a5b2a140ed9bafb9"
            ]
        ]
    },
    {
        "id": "4617cedb3731492e",
        "type": "debug",
        "z": "89c5dcb23edc6afe",
        "d": true,
        "name": "CH4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 740,
        "wires": []
    },
    {
        "id": "9c14f3b8dab653c2",
        "type": "ui_chart",
        "z": "89c5dcb23edc6afe",
        "name": "Gas concentration",
        "group": "67e4db159a437597",
        "order": 2,
        "width": 7,
        "height": 5,
        "label": "Gas Concentration %",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#28b31e",
            "#baeab3",
            "#0fff4b",
            "#2ca02c",
            "#98df8a",
            "#56d728",
            "#94ff9b",
            "#67bc6c",
            "#b2d7b5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1070,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "2cc22929a47b82b3",
        "type": "ui_template",
        "z": "89c5dcb23edc6afe",
        "group": "d783cb980c3979fc",
        "name": "Node-Red Dashboard Custom CSS",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n\n    /*Main background*/\n    body {\n        background: -webkit-linear-gradient(\n            345deg,\n            #303840 0%,\n            #213142 25%,\n            #061B36 50%,\n            #212529 75%,\n            #000000 100%\n           );\n    }\n\n    /*Top bar*/\n    body.nr-dashboard-theme md-toolbar,\n    body.nr-dashboard-theme md-content md-card {\n        background-color: transparent !important;\n        color: #FFFFFF !important;\n    }\n\n\n    /*Left menu*/\n    /*Sidebar*/\n    body.nr-dashboard-theme md-sidenav {\n        color: white !important;\n        background-color: rgba(0,0,0,0) !important;\n    }\n    /*Hover selection*/\n    a.md-no-style, button.md-no-style {\n        border-radius: 10px !important;\n    }\n    /*Selected*/\n    .nr-menu-item-active div button {\n        border-right: 4px solid rgb(41 98 255) !important;\n    }\n    /*List*/\n    body.nr-dashboard-theme md-sidenav div.md-list-item-inner {\n        color: white !important;\n        background-color: rgba(40,85,165,1) !important;\n        border-radius: 10px !important;\n    }\n\n\n    /*Groups*/ /*rgba(255,255,255,0.1)*/\n    ui-card-panel {\n        background-color: transparent !important;\n        border-radius: 10px !important;\n    }\n    .nr-dashboard-theme ui-card-panel {\n        border: none !important;\n    }\n    /*Name groups*/\n    .nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n        color: rgba(255, 255, 255, 0.5) !important;\n    }\n\n\n    /*Bouttons*/\n    .nr-dashboard-theme .nr-dashboard-button .md-button {\n        background-color: rgba(255,255,255,.1) !important;\n    }\n    .md-button {\n        border-radius: 10px !important;\n    }\n\n\n    /*Dropdown menu*/\n    .nr-dashboard-theme md-select-menu{\n        background-color: rgba(40,85,165,1) !important;\n    }\n    .nr-dashboard-theme md-select-menu, .nr-dashboard-theme md-select-menu md-option {\n        background-color: transparent !important;\n    }\n    .nr-dashboard-theme .md-select-menu-container {\n        border-radius: 10px !important;\n        border: none !important;\n    }\n    .nr-dashboard-theme md-select-menu md-option[selected] {\n        color: white !important;\n        background-color: #1a3566 !important;\n    }\n\n    /*Template*/\n    md-card>img, md-card>md-card-header img, md-card md-card-title-media img {\n        border-radius: 10px !important;\n    }\n\n    /* Color picker text BG */\n    .nr-dashboard-theme .color-picker-input-wrapper > input {\n        color: white !important;\n        background-color: transparent !important;\n    }\n\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "global",
        "className": "",
        "x": 1340,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "f0663a6f9670e471",
        "type": "ui_media",
        "z": "89c5dcb23edc6afe",
        "group": "b5410568a2b29098",
        "name": "Cansat",
        "width": 7,
        "height": 17,
        "order": 3,
        "category": "Satcan",
        "file": "Satcan.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": true,
        "scope": "local",
        "tooltip": "",
        "x": 1260,
        "y": 260,
        "wires": [
            []
        ],
        "info": "{\r\n    onstart: True;\r\n}"
    },
    {
        "id": "40e1de6b8d9f4353",
        "type": "ui_media",
        "z": "89c5dcb23edc6afe",
        "group": "abefd3ee9f81cf2d",
        "name": "",
        "width": 7,
        "height": 2,
        "order": 5,
        "category": "logo",
        "file": "LOGO_BIOMECH.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 1250,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "37cca5df99e22cf3",
        "type": "json",
        "z": "89c5dcb23edc6afe",
        "d": true,
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 350,
        "y": 200,
        "wires": [
            [
                "da9d8049e68846c5"
            ]
        ]
    },
    {
        "id": "bcaa1bf93d381d6c",
        "type": "change",
        "z": "89c5dcb23edc6afe",
        "d": true,
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.C2H5OH",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 800,
        "wires": [
            [
                "4afc693e24a0cb45",
                "9c14f3b8dab653c2",
                "7b11f7e3e6bbad1a"
            ]
        ]
    },
    {
        "id": "0344c13bd7d9e257",
        "type": "json",
        "z": "89c5dcb23edc6afe",
        "d": true,
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 330,
        "y": 800,
        "wires": [
            [
                "bcaa1bf93d381d6c"
            ]
        ]
    },
    {
        "id": "4afc693e24a0cb45",
        "type": "debug",
        "z": "89c5dcb23edc6afe",
        "d": true,
        "name": "C2H5OH",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 800,
        "wires": []
    },
    {
        "id": "4162c372f67a517e",
        "type": "change",
        "z": "89c5dcb23edc6afe",
        "d": true,
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.H2",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 860,
        "wires": [
            [
                "ebe9397d4dca48bf",
                "9c14f3b8dab653c2",
                "7b11f7e3e6bbad1a"
            ]
        ]
    },
    {
        "id": "f33ac9c055c1a624",
        "type": "json",
        "z": "89c5dcb23edc6afe",
        "d": true,
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 330,
        "y": 860,
        "wires": [
            [
                "4162c372f67a517e"
            ]
        ]
    },
    {
        "id": "ebe9397d4dca48bf",
        "type": "debug",
        "z": "89c5dcb23edc6afe",
        "d": true,
        "name": "H2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 860,
        "wires": []
    },
    {
        "id": "043f5c2daa820d49",
        "type": "change",
        "z": "89c5dcb23edc6afe",
        "d": true,
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.CH4",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 920,
        "wires": [
            [
                "b9053c6f75a3e9fd",
                "9c14f3b8dab653c2",
                "7b11f7e3e6bbad1a"
            ]
        ]
    },
    {
        "id": "f4daa8d8390fec4c",
        "type": "json",
        "z": "89c5dcb23edc6afe",
        "d": true,
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 330,
        "y": 920,
        "wires": [
            [
                "043f5c2daa820d49"
            ]
        ]
    },
    {
        "id": "b9053c6f75a3e9fd",
        "type": "debug",
        "z": "89c5dcb23edc6afe",
        "d": true,
        "name": "NH3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 920,
        "wires": []
    },
    {
        "id": "a052c3da25dfb881",
        "type": "change",
        "z": "89c5dcb23edc6afe",
        "d": true,
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.CO",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 980,
        "wires": [
            [
                "d19a58ad57366706",
                "9c14f3b8dab653c2",
                "7b11f7e3e6bbad1a"
            ]
        ]
    },
    {
        "id": "f254d77a76cab223",
        "type": "json",
        "z": "89c5dcb23edc6afe",
        "d": true,
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 330,
        "y": 980,
        "wires": [
            [
                "a052c3da25dfb881"
            ]
        ]
    },
    {
        "id": "d19a58ad57366706",
        "type": "debug",
        "z": "89c5dcb23edc6afe",
        "d": true,
        "name": "CO",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 980,
        "wires": []
    },
    {
        "id": "7b11f7e3e6bbad1a",
        "type": "ui_chart",
        "z": "89c5dcb23edc6afe",
        "name": "Gas concentration",
        "group": "91405a5123c0370c",
        "order": 2,
        "width": 7,
        "height": 5,
        "label": "Gs concentration in ",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "cubic",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#28b31e",
            "#baeab3",
            "#0fff4b",
            "#2ca02c",
            "#98df8a",
            "#56d728",
            "#94ff9b",
            "#67bc6c",
            "#b2d7b5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1070,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "90108c60960eed70",
        "type": "remote-access",
        "z": "89c5dcb23edc6afe",
        "confignode": "69daac19192a8159",
        "name": "",
        "verbose": 0,
        "x": 1280,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "5260f76aec1d7a9d",
        "type": "change",
        "z": "89c5dcb23edc6afe",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.GasConcentration",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1040,
        "wires": [
            [
                "7f559b7b0229c4ee",
                "9c14f3b8dab653c2",
                "7b11f7e3e6bbad1a",
                "946f6c2a34c75447"
            ]
        ]
    },
    {
        "id": "8b0e7f95babfa99d",
        "type": "json",
        "z": "89c5dcb23edc6afe",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 330,
        "y": 1040,
        "wires": [
            [
                "5260f76aec1d7a9d"
            ]
        ]
    },
    {
        "id": "7f559b7b0229c4ee",
        "type": "debug",
        "z": "89c5dcb23edc6afe",
        "name": "GasConcentration",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 1040,
        "wires": []
    },
    {
        "id": "da9d8049e68846c5",
        "type": "delay",
        "z": "89c5dcb23edc6afe",
        "d": true,
        "name": "delay",
        "pauseType": "rate",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 510,
        "y": 200,
        "wires": [
            [
                "5a39891d529fe283"
            ]
        ]
    },
    {
        "id": "673508af6eb45bc4",
        "type": "http request",
        "z": "89c5dcb23edc6afe",
        "name": "Temp",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://cansat-biomech-default-rtdb.firebaseio.com/AirQuality/Temperature.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1110,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "50ab6355e4eaaad4",
        "type": "delay",
        "z": "89c5dcb23edc6afe",
        "name": "delay",
        "pauseType": "rate",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 930,
        "y": 380,
        "wires": [
            [
                "673508af6eb45bc4"
            ]
        ]
    },
    {
        "id": "405b068d6a895a54",
        "type": "http request",
        "z": "89c5dcb23edc6afe",
        "name": "Hum",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://cansat-biomech-default-rtdb.firebaseio.com/AirQuality/Humidity.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1110,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "b0a817bb20fd0341",
        "type": "delay",
        "z": "89c5dcb23edc6afe",
        "name": "delay",
        "pauseType": "rate",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 930,
        "y": 480,
        "wires": [
            [
                "405b068d6a895a54"
            ]
        ]
    },
    {
        "id": "55979d9d5fd42de3",
        "type": "http request",
        "z": "89c5dcb23edc6afe",
        "name": "Press",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://cansat-biomech-default-rtdb.firebaseio.com/AirQuality/Pressure.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1110,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "a9b47f29aa33a086",
        "type": "delay",
        "z": "89c5dcb23edc6afe",
        "name": "delay",
        "pauseType": "rate",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 930,
        "y": 580,
        "wires": [
            [
                "55979d9d5fd42de3"
            ]
        ]
    },
    {
        "id": "9fd303d53f8cfcc1",
        "type": "http request",
        "z": "89c5dcb23edc6afe",
        "name": "Pm2.5",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://cansat-biomech-default-rtdb.firebaseio.com/AirQuality/Pm.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1110,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "5f0631ef3d6199ac",
        "type": "delay",
        "z": "89c5dcb23edc6afe",
        "name": "delay",
        "pauseType": "rate",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 930,
        "y": 680,
        "wires": [
            [
                "9fd303d53f8cfcc1"
            ]
        ]
    },
    {
        "id": "a9d5907d764f887c",
        "type": "http request",
        "z": "89c5dcb23edc6afe",
        "name": "GC",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://cansat-biomech-default-rtdb.firebaseio.com/AirQuality/Gas.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 910,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "946f6c2a34c75447",
        "type": "delay",
        "z": "89c5dcb23edc6afe",
        "name": "delay",
        "pauseType": "rate",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 730,
        "y": 1080,
        "wires": [
            [
                "a9d5907d764f887c"
            ]
        ]
    },
    {
        "id": "cd5598f6680c5a4c",
        "type": "change",
        "z": "89c5dcb23edc6afe",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Altitude",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1140,
        "wires": [
            [
                "d6aea100495ce3bc",
                "db86423f8eb7e993",
                "c3a38e1768d98da0"
            ]
        ]
    },
    {
        "id": "7f856b46627884ec",
        "type": "json",
        "z": "89c5dcb23edc6afe",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 330,
        "y": 1140,
        "wires": [
            [
                "cd5598f6680c5a4c"
            ]
        ]
    },
    {
        "id": "d6aea100495ce3bc",
        "type": "debug",
        "z": "89c5dcb23edc6afe",
        "name": "Altitude",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 1140,
        "wires": []
    },
    {
        "id": "1f8f0b3b82e03c53",
        "type": "http request",
        "z": "89c5dcb23edc6afe",
        "name": "Altitude",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://cansat-biomech-default-rtdb.firebaseio.com/AirQuality/Altitude.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 920,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "db86423f8eb7e993",
        "type": "delay",
        "z": "89c5dcb23edc6afe",
        "name": "delay",
        "pauseType": "rate",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 730,
        "y": 1180,
        "wires": [
            [
                "1f8f0b3b82e03c53"
            ]
        ]
    },
    {
        "id": "c3a38e1768d98da0",
        "type": "ui_chart",
        "z": "89c5dcb23edc6afe",
        "name": "Altitude",
        "group": "67e4db159a437597",
        "order": 3,
        "width": 7,
        "height": 5,
        "label": "Altitude",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff00dd",
            "#eab3e8",
            "#ef0fff",
            "#a02c96",
            "#df8bd4",
            "#d728d2",
            "#ff94fb",
            "#bc67b9",
            "#d7b2d2"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 920,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "7792ec2d1b702ff8",
        "type": "debug",
        "z": "89c5dcb23edc6afe",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 280,
        "wires": []
    },
    {
        "id": "d35a7e4e245e9e66",
        "type": "ui_button",
        "z": "89c5dcb23edc6afe",
        "name": "Start",
        "group": "91405a5123c0370c",
        "order": 3,
        "width": 7,
        "height": 1,
        "passthru": true,
        "label": "Start Sensing",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 1450,
        "y": 260,
        "wires": [
            [
                "07453ffb495b0b07",
                "ffd262158aef8b3d"
            ]
        ]
    },
    {
        "id": "1d3a0ca249529d64",
        "type": "ui_button",
        "z": "89c5dcb23edc6afe",
        "name": "ButtonGoAnalytics",
        "group": "91405a5123c0370c",
        "order": 4,
        "width": 7,
        "height": 1,
        "passthru": true,
        "label": "Start Analytics",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 1490,
        "y": 300,
        "wires": [
            [
                "b1c43fd9e639e258",
                "ffd262158aef8b3d"
            ]
        ]
    },
    {
        "id": "07453ffb495b0b07",
        "type": "debug",
        "z": "89c5dcb23edc6afe",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1700,
        "y": 260,
        "wires": []
    },
    {
        "id": "b1c43fd9e639e258",
        "type": "debug",
        "z": "89c5dcb23edc6afe",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1700,
        "y": 300,
        "wires": []
    },
    {
        "id": "ffd262158aef8b3d",
        "type": "http request",
        "z": "89c5dcb23edc6afe",
        "name": "Go Analytics",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://cansat-biomech-default-rtdb.firebaseio.com/Go.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1890,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "718bb6dc92fadf99",
        "type": "ui_spacer",
        "z": "89c5dcb23edc6afe",
        "name": "spacer",
        "group": "b5410568a2b29098",
        "order": 1,
        "width": 8,
        "height": 1
    },
    {
        "id": "779f2f069933573f",
        "type": "ui_spacer",
        "z": "89c5dcb23edc6afe",
        "name": "spacer",
        "group": "b5410568a2b29098",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "f67c46884687f996",
        "type": "ui_spacer",
        "z": "89c5dcb23edc6afe",
        "name": "spacer",
        "group": "b5410568a2b29098",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "d0eb94d2791dffcc",
        "type": "ui_spacer",
        "z": "89c5dcb23edc6afe",
        "name": "spacer",
        "group": "b5410568a2b29098",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "820ba9c2b1fe9c42",
        "type": "ui_spacer",
        "z": "89c5dcb23edc6afe",
        "name": "spacer",
        "group": "b5410568a2b29098",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "54d0dcf61ce2a5da",
        "type": "ui_spacer",
        "z": "89c5dcb23edc6afe",
        "name": "spacer",
        "group": "b5410568a2b29098",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "b5528f6adc86dad1",
        "type": "ui_spacer",
        "z": "89c5dcb23edc6afe",
        "name": "spacer",
        "group": "b5410568a2b29098",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "17a4fc8e95b26505",
        "type": "ui_spacer",
        "z": "89c5dcb23edc6afe",
        "name": "spacer",
        "group": "b5410568a2b29098",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "9eb36561e3690585",
        "type": "ui_spacer",
        "z": "89c5dcb23edc6afe",
        "name": "spacer",
        "group": "b5410568a2b29098",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "5a901ba20032bc84",
        "type": "ui_spacer",
        "z": "89c5dcb23edc6afe",
        "name": "spacer",
        "group": "b5410568a2b29098",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "fffcb8adb3bd69d1",
        "type": "ui_spacer",
        "z": "89c5dcb23edc6afe",
        "name": "spacer",
        "group": "b5410568a2b29098",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "9e858057199c3e3a",
        "type": "ui_spacer",
        "z": "89c5dcb23edc6afe",
        "name": "spacer",
        "group": "b5410568a2b29098",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "710887c870e20fc0",
        "type": "ui_spacer",
        "z": "89c5dcb23edc6afe",
        "name": "spacer",
        "group": "b5410568a2b29098",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "ac944b74cca036ce",
        "type": "ui_spacer",
        "z": "89c5dcb23edc6afe",
        "name": "spacer",
        "group": "b5410568a2b29098",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "0ad16e78282b9049",
        "type": "ui_spacer",
        "z": "89c5dcb23edc6afe",
        "name": "spacer",
        "group": "b5410568a2b29098",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "2eef174ac288fb41",
        "type": "ui_spacer",
        "z": "89c5dcb23edc6afe",
        "name": "spacer",
        "group": "b5410568a2b29098",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "b2d2264ba3e238cf",
        "type": "ui_spacer",
        "z": "89c5dcb23edc6afe",
        "name": "spacer",
        "group": "b5410568a2b29098",
        "order": 18,
        "width": 1,
        "height": 1
    },
    {
        "id": "63273fbe959cdba2",
        "type": "ui_spacer",
        "z": "89c5dcb23edc6afe",
        "name": "spacer",
        "group": "b5410568a2b29098",
        "order": 19,
        "width": 1,
        "height": 1
    },
    {
        "id": "a2764decbb6c747f",
        "type": "serial-port",
        "serialport": "COM5",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "abefd3ee9f81cf2d",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "b44cfd6b13ae64fb",
        "order": 1,
        "disp": false,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "91405a5123c0370c",
        "type": "ui_group",
        "name": "Group 5",
        "tab": "b44cfd6b13ae64fb",
        "order": 5,
        "disp": false,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "4148d1df3861a6e1",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "b44cfd6b13ae64fb",
        "order": 2,
        "disp": false,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "67e4db159a437597",
        "type": "ui_group",
        "name": "Group 4",
        "tab": "b44cfd6b13ae64fb",
        "order": 4,
        "disp": false,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d783cb980c3979fc",
        "type": "ui_group",
        "name": "Demo",
        "tab": "0449b3b1fea99d52",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b5410568a2b29098",
        "type": "ui_group",
        "name": "Group 3",
        "tab": "b44cfd6b13ae64fb",
        "order": 3,
        "disp": false,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "69daac19192a8159",
        "type": "remote-config",
        "name": "MeteorlógicCansat",
        "host": "localhost",
        "protocol": "http",
        "port": "1880",
        "baseurl": "/",
        "instancehash": "1d5vj0hrztjec9tvy2se7xxjwpi34h07aono1raqafsvjxfppk8dnl52td6rs4al",
        "server": "nodered03.remote-red.com",
        "region": "us"
    },
    {
        "id": "b44cfd6b13ae64fb",
        "type": "ui_tab",
        "name": "Cansat",
        "icon": "fa-bolt",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0449b3b1fea99d52",
        "type": "ui_tab",
        "name": "Demo",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]